.maps-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.maps-map {
  flex-grow: 1;
}

.maps-drawer {
  display: flex;
  height: 100%;
  padding: 8px;
}

.maps-drawer-other {
  margin-top: auto;
}